apiVersion: devops.kubesphere.io/v1alpha1
kind: Releaser
metadata:
  name: releaser-sample-v0.0.9
spec:
  version: v0.0.4
  gitOps:
    enable: true
    repository:
      address: https://github.com/linuxsuren-bot/linuxsuren-releaser
      name: test
      branch: master
  repositories:
    - name: test
      address: https://github.com/linuxsuren-bot/test
      action: release
      branch: master
      version: v0.0.8
      provider: github
  secret:
    name: test-git
    namespace: default
